
- name: Install software-properties-common
  apt: name=software-properties-common state=present update_cache=yes

- name: Install imagemagic
  apt: name=imagemagick state=present update_cache=yes

- apt_repository:
    repo: 'ppa:ondrej/php'
    # LC_ALL=C.UTF-8 add-apt-repository ppa:ondrej/php

- name: Install php {{ php_version }}
  apt: name={{ apt_install_php_packages }} state=present update_cache=yes    

- name: Install php-mcrypt
  apt:
    name: "php{{ php_version }}-mcrypt"
    state: present
    update_cache: yes
  when: php_version == 5.6 or php_version == 7.0 or php_version == 7.1
